Repository elastic/rally, pull requests merged in 2018-08, with the labels that each got.

#545 Use non-standard port for metrics store in tests
  integration-test.sh
Labels: :Internal, enhancement

#546 Update ccr stats endpoint
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#549 Exponential back-off for retrying transport errors to metrics store
  esrally/metrics.py
  tests/metrics_test.py
Labels: :Metrics, enhancement

#551 Fix HTTP TLS client certificate verification
  docs/command_line_reference.rst
  esrally/client.py
  tests/client_test.py
  tests/utils/resources/certs/ca.crt
  tests/utils/resources/certs/client.crt
  tests/utils/resources/certs/client.key
Labels: :Config, bug

#555 Load only required corpora
  esrally/track/loader.py
  esrally/track/track.py
  tests/track/loader_test.py
  tests/track/track_test.py
Labels: :Track Management, enhancement

#556 Upgrade to Thespian 3.9.3
  run.sh
  setup.py
Labels: :Internal, enhancement

#557 Adjust flight recorder flags for JDK 11
  docs/install.rst
  docs/telemetry.rst
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#558 Avoid throughput throttling in test mode
  esrally/track/loader.py
  tests/track/loader_test.py
Labels: :Track Management, enhancement

#559 Write rendered track to a temporary file
  esrally/track/loader.py
Labels: :Usability, enhancement

#562 Defer startup of mechanic actor
  esrally/racecontrol.py
Labels: :Benchmark Candidate Management, bug
