Repository elastic/rally, pull requests merged in 2018-07, with the labels that each got.

#533 State clearly that only Unix is supported
  README.rst
  docs/quickstart.rst
Labels: :Docs, enhancement

#537 make --test-mode work with uncompressed data #536
  esrally/track/loader.py
Labels: :Track Management, bug

#538 Retry metric store for more transport errors
  esrally/metrics.py
  tests/metrics_test.py
Labels: :Metrics, enhancement

#540 Simplify filtering node-stats-related documents
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#542 Warn when cluster settings cannot be applied
  esrally/mechanic/mechanic.py
Labels: :Usability, bug

#544 Fix parsing of boolean values datastore.secure
  esrally/metrics.py
  tests/metrics_test.py
Labels: :Metrics, bug
