Repository elastic/rally, pull requests merged in 2018-04, with the labels that each got.

#446 Use more specific name for mandatory plugin check selectively
  esrally/mechanic/provisioner.py
  esrally/mechanic/team.py
  tests/mechanic/provisioner_test.py
Labels: :Benchmark Candidate Management, bug

#449 Fix venv detection with venv and Rally execution on non master
  rally
  run.sh
Labels: :Config, bug

#453 Remove operation type "index"
  docs/migrate.rst
  esrally/chart_generator.py
  esrally/driver/runner.py
  esrally/track/params.py
  esrally/track/track.py
Labels: :Track Management, breaking, enhancement

#454 Allow to ingest a subset of a document corpus
  docs/track.rst
  esrally/track/params.py
  tests/track/params_test.py
Labels: :Track Management, enhancement

#457 Be build-tool agnostic
  docs/command_line_reference.rst
  docs/configuration.rst
  docs/developing.rst
  docs/elasticsearch_plugins.rst
  docs/faq.rst
  docs/migrate.rst
  docs/pipelines.rst
  esrally/config.py
  esrally/mechanic/supplier.py
  esrally/rally.py
  integration-test.sh
  tests/config_test.py
  tests/mechanic/supplier_test.py
Labels: :Config, :Docs, :Usability, enhancement

#458 Add parameter support to telemetry devices
  docs/command_line_reference.rst
  docs/telemetry.rst
  esrally/mechanic/launcher.py
  esrally/mechanic/telemetry.py
  esrally/rally.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#459 Improve documentation of track repo URL
  docs/track.rst
Labels: :Docs, enhancement

#456 Remove automatic index management
  docs/adding_tracks.rst
  docs/command_line_reference.rst
  docs/migrate.rst
  docs/track.rst
  esrally/rally.py
  esrally/resources/track-schema.json
  esrally/track/loader.py
  esrally/track/params.py
  esrally/track/track.py
  tests/metrics_test.py
  tests/track/loader_test.py
  tests/track/params_test.py
Labels: :Track Management, breaking, enhancement

#465 Default to upgrading packages with setuptools
  run.sh
Labels: :Usability, bug

#460 Report store and translog size
  docs/metrics.rst
  docs/summary_report.rst
  esrally/mechanic/telemetry.py
  esrally/reporter.py
  tests/mechanic/telemetry_test.py
Labels: :Reporting, :Telemetry, enhancement

#464 esrally must not log clear text user passwords
  esrally/client.py
Labels: :Load Driver, :Metrics, enhancement

#461 Remove 'index-settings' property
  docs/command_line_reference.rst
  docs/track.rst
  esrally/resources/track-schema.json
  esrally/track/loader.py
  esrally/track/track.py
  tests/metrics_test.py
  tests/track/loader_test.py
Labels: :Track Management, breaking, enhancement

#462 Upgrade Elasticsearch client to 6.2.0
  esrally/client.py
  esrally/metrics.py
  setup.py
Labels: :Internal, enhancement

#468 Require at least Rally 0.7.3 for config migration
  esrally/config.py
  tests/config_test.py
Labels: :Internal, breaking, enhancement

#467 Return "pages" as unit for scrolls
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Metrics, bug

#466 Don't require git
  docs/install.rst
  esrally/utils/git.py
  esrally/utils/process.py
Labels: :Usability, enhancement

#470 Allow to use track parameters in index definition
  esrally/track/loader.py
Labels: :Track Management, bug

#473 Don't pass type implicitly for queries
  docs/track.rst
  esrally/track/params.py
  tests/track/params_test.py
Labels: :Load Driver, enhancement

#480 Add generic node-stats telemetry device
  docs/telemetry.rst
  esrally/mechanic/launcher.py
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#481 Add post_launch phase for Elasticsearch plugins
  esrally/mechanic/launcher.py
  esrally/mechanic/mechanic.py
  esrally/mechanic/provisioner.py
  esrally/mechanic/team.py
  tests/mechanic/launcher_test.py
  tests/mechanic/provisioner_test.py
  tests/mechanic/team_test.py
Labels: :Benchmark Candidate Management, enhancement

#477 Improve simulation of bulk-indexing conflicts
  docs/track.rst
  esrally/track/params.py
  tests/track/params_test.py
Labels: :Load Driver, :Track Management, enhancement

#476 Create unique ids even for random conflicts
  esrally/track/params.py
  tests/track/params_test.py
Labels: :Load Driver, bug
