Repository elastic/rally, pull requests merged in 2018-05, with the labels that each got.

#487 Add new Makefile target to run it tests inside Docker
  Dockerfile
  Makefile
  docker-compose.yml
Labels: :Usability, enhancement

#488 Add support for multiple clusters in custom runners
  docs/adding_tracks.rst
  docs/command_line_reference.rst
  docs/track.rst
  esrally/driver/driver.py
  esrally/driver/runner.py
  esrally/mechanic/launcher.py
  esrally/mechanic/mechanic.py
  esrally/metrics.py
  esrally/racecontrol.py
  esrally/rally.py
  esrally/utils/opts.py
  integration-test.sh
  tests/driver/runner_test.py
  tests/mechanic/launcher_test.py
  tests/racecontrol_test.py
  tests/rally_test.py
  tests/utils/opts_test.py
  tests/utils/resources/client_options_1.json
  tests/utils/resources/client_options_2.json
  tests/utils/resources/target_hosts_1.json
  tests/utils/resources/target_hosts_2.json
Labels: :Benchmark Candidate Management, :Load Driver, enhancement

#489 Get distribution download URL from car config
  docs/car.rst
  docs/migrate.rst
  esrally/config.py
  esrally/mechanic/supplier.py
  tests/config_test.py
  tests/mechanic/supplier_test.py
Labels: :Benchmark Candidate Management, enhancement

#490 Record "took" for bulk indexing
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Metrics, enhancement

#494 Remove usage of "please" in docs
  docs/adding_tracks.rst
  docs/command_line_reference.rst
  docs/community.rst
  docs/configuration.rst
  docs/developing.rst
  docs/elasticsearch_plugins.rst
  docs/faq.rst
  docs/index.rst
  docs/install.rst
  docs/metrics.rst
  docs/migrate.rst
  docs/offline.rst
  docs/quickstart.rst
  docs/race.rst
  docs/rally_daemon.rst
  docs/recipes.rst
  docs/summary_report.rst
  docs/telemetry.rst
Labels: :Docs, enhancement

#499 Omit needless words in track tutorial
  docs/adding_tracks.rst
Labels: :Docs, enhancement

#497 Add record_process_stats() for process.* stats
  docs/telemetry.rst
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#500 Convert exception to string in driver
  esrally/driver/driver.py
Labels: :Load Driver, bug

#503 Use file-based logging configuration
  docs/configuration.rst
  esrally/actor.py
  esrally/client.py
  esrally/config.py
  esrally/driver/driver.py
  esrally/driver/runner.py
  esrally/driver/scheduler.py
  esrally/log.py
  esrally/mechanic/cluster.py
  esrally/mechanic/launcher.py
  esrally/mechanic/mechanic.py
  esrally/mechanic/provisioner.py
  esrally/mechanic/supplier.py
  esrally/mechanic/team.py
  esrally/mechanic/telemetry.py
  esrally/metrics.py
  esrally/racecontrol.py
  esrally/rally.py
  esrally/rallyd.py
  esrally/reporter.py
  esrally/resources/logging.json
  esrally/track/loader.py
  esrally/track/params.py
  esrally/track/track.py
  esrally/utils/io.py
  esrally/utils/modules.py
  esrally/utils/net.py
  esrally/utils/process.py
  esrally/utils/repo.py
  integration-test.sh
  tests/driver/driver_test.py
  tests/utils/repo_test.py
Labels: :Usability, enhancement

#508 Add node-stats-include-mem option to record jvm heap stats
  docs/telemetry.rst
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#507 Set retry-on-timeout=true for ES clients used by Telemetry devices
  esrally/mechanic/launcher.py
  tests/mechanic/launcher_test.py
Labels: :Telemetry, enhancement

#505 Commit ccr-stats telemetry device and tests
  esrally/mechanic/launcher.py
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry

#509 Remove post_launch bootstrap phase
  esrally/mechanic/launcher.py
  esrally/mechanic/mechanic.py
  esrally/mechanic/team.py
  tests/mechanic/launcher_test.py
  tests/mechanic/team_test.py
Labels: :Internal, enhancement

#511 Don't fail if conflict-probability is zero
  esrally/track/params.py
  tests/track/params_test.py
Labels: :Load Driver, bug

#512 Make challenges optional
  docs/adding_tracks.rst
  docs/command_line_reference.rst
  docs/track.rst
  esrally/metrics.py
  esrally/racecontrol.py
  esrally/reporter.py
  esrally/resources/track-schema.json
  esrally/track/loader.py
  esrally/track/track.py
  tests/track/loader_test.py
Labels: :Track Management, :Usability, enhancement

#514 Report indexing times per shard
  docs/metrics.rst
  docs/summary_report.rst
  esrally/mechanic/telemetry.py
  esrally/reporter.py
  tests/mechanic/telemetry_test.py
Labels: :Reporting, enhancement

#515 Fold all stats per shard in the same doc for CCR
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#516 Add multi-cluster support for NodeStats telemetry device
  esrally/mechanic/launcher.py
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement
