Repository elastic/rally, pull requests merged in 2018-09, with the labels that each got.

#565 Improve compatibility when loading invalid JSON
  esrally/track/loader.py
  tests/track/loader_test.py
Labels: :Track Management, bug

#569 Add shrink index runner
  docs/track.rst
  esrally/driver/runner.py
  esrally/track/track.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#571 Reduce logging when loading tracks
  esrally/driver/runner.py
  esrally/track/loader.py
Labels: :Track Management, enhancement

#574 Rename benchmark data directory to root directory
  docs/configuration.rst
  esrally/config.py
Labels: :Config, :Usability, enhancement

#572 More fine-grained ML metrics
  docs/metrics.rst
  docs/summary_report.rst
  esrally/mechanic/telemetry.py
  esrally/reporter.py
  tests/mechanic/telemetry_test.py
  tests/reporter_test.py
Labels: :Telemetry, enhancement

#576 Improved formatting of document count in list tracks output
  esrally/track/loader.py
  esrally/utils/convert.py
Labels: :Track Management, :Usability, enhancement

#579 Switch to official approach for HTTP compression
  docs/command_line_reference.rst
  esrally/client.py
Labels: :Load Driver, bug
