Repository elastic/rally, pull requests merged in 2018-12, with the labels that each got.

#612 Extract hits either as number or structured object
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#613 Error can be a string, and shards not always present in response.
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Metrics, bug

#615 Add refresh/merge/flush totals in summary
  docs/metrics.rst
  docs/quickstart.rst
  docs/summary_report.rst
  esrally/mechanic/telemetry.py
  esrally/reporter.py
  tests/mechanic/telemetry_test.py
  tests/reporter_test.py
Labels: :Telemetry, enhancement

#606 Improve release.sh script and prerequisites
  Makefile
  release-checks.sh
  release.sh
  requirements.txt
Labels: :Internal, enhancement
