Repository elastic/rally, pull requests merged in 2019-03, with the labels that each got.

#661 Small change in the venv-create
  Makefile
Labels: :Internal, bug

#659 Sort the track parameters / user tags when listing races
  esrally/metrics.py
Labels: :Reporting, enhancement

#660 Add user tags when comparing races
  esrally/reporter.py
Labels: :Reporting, enhancement

#662 Add distribution flavor to metrics metadata
  esrally/mechanic/cluster.py
  esrally/mechanic/mechanic.py
  esrally/mechanic/telemetry.py
  esrally/metrics.py
  esrally/resources/results-template.json
  tests/mechanic/telemetry_test.py
  tests/metrics_test.py
Labels: :Metrics, :Telemetry, enhancement

#666 Introduce new command line parameter --track-revision
  docs/command_line_reference.rst
  esrally/rally.py
  esrally/track/loader.py
Labels: :Track Management, enhancement

#667 Add sleep operation
  docs/track.rst
  esrally/driver/runner.py
  esrally/track/params.py
  esrally/track/track.py
  tests/driver/runner_test.py
  tests/track/params_test.py
Labels: :Load Driver, enhancement

#669 Allow to override request timeout for force-merge
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#670 Pass JAVA12_HOME in integration tests
  tox.ini
Labels: :Internal, enhancement
