Repository elastic/rally, pull requests merged in 2019-10, with the labels that each got.

#778 Expose race-id as command line parameter
  docs/command_line_reference.rst
  docs/docker.rst
  docs/metrics.rst
  docs/migrate.rst
  esrally/chart_generator.py
  esrally/config.py
  esrally/mechanic/provisioner.py
  esrally/metrics.py
  esrally/paths.py
  esrally/rally.py
  esrally/reporter.py
  esrally/resources/metrics-template.json
  esrally/resources/races-template.json
  esrally/resources/results-template.json
  scripts/analyze.py
  tests/driver/driver_test.py
  tests/mechanic/launcher_test.py
  tests/metrics_test.py
  tests/reporter_test.py
Labels: :Metrics, enhancement

#779 Gather cluster-level metrics in driver
  docs/migrate.rst
  esrally/driver/__init__.py
  esrally/driver/driver.py
  esrally/mechanic/__init__.py
  esrally/mechanic/cluster.py
  esrally/mechanic/launcher.py
  esrally/mechanic/mechanic.py
  esrally/mechanic/provisioner.py
  esrally/metrics.py
  esrally/racecontrol.py
  esrally/rally.py
  esrally/reporter.py
  esrally/telemetry.py
  tests/driver/driver_test.py
  tests/mechanic/launcher_test.py
  tests/metrics_test.py
  tests/telemetry_test.py
Labels: :Metrics, breaking, enhancement

#781 Add support for OSNAME and ARCH variables in dist repo URLs.
  esrally/mechanic/supplier.py
  esrally/utils/sysstats.py
  tests/mechanic/supplier_test.py
Labels: :Benchmark Candidate Management, bug

#784 Attach telemetry device on Docker launch
  esrally/mechanic/launcher.py
  integration-test.sh
Labels: :Benchmark Candidate Management, bug

#782 Update Elasticsearch version of targets and metricstore in CCR recipe
  docs/recipes.rst
  recipes/ccr/.elastic-version
  recipes/ccr/metricstore-docker-compose.yml
  recipes/ccr/start.sh
Labels: :Docs, enhancement

#783 Upgrade pytest to 5.2.0
  Makefile
  setup.py
  tox.ini
Labels: :Internal, enhancement

#785 Don't attach telemetry devices for Docker
  esrally/mechanic/launcher.py
  integration-test.sh
Labels: :Benchmark Candidate Management, enhancement

#788 Manage dev dependencies in setup.py
  Makefile
  setup.py
  tox.ini
Labels: :Internal, enhancement

#789 Let the runner determine progress
  docs/adding_tracks.rst
  esrally/driver/driver.py
  esrally/driver/runner.py
  tests/driver/driver_test.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#790 Remove compatibility layer for old mappings.
  esrally/metrics.py
Labels: :Metrics, cleanup

#793 Add ability to restore from a snapshot
  docs/track.rst
  esrally/driver/runner.py
  esrally/track/track.py
  tests/driver/runner_test.py
Labels: :Track Management, enhancement

#798 Allow definition of body in restore-snapshot operation
  docs/track.rst
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#801 Initialize schedule lazily
  esrally/driver/driver.py
  tests/driver/driver_test.py
Labels: :Load Driver, bug

#800 Properly wait for recovery to finish
  docs/adding_tracks.rst
  docs/track.rst
  esrally/driver/driver.py
  esrally/driver/runner.py
  tests/driver/driver_test.py
  tests/driver/runner_test.py
Labels: :Load Driver, bug

#776 Add heapdump telemetry device
  docs/telemetry.rst
  esrally/mechanic/launcher.py
  esrally/telemetry.py
  tests/telemetry_test.py
Labels: :Telemetry, enhancement

#802 Whitelist py.test in tox tests
  tox.ini
Labels: :Internal, enhancement

#804 Allow multiple nodes per IP
  esrally/mechanic/mechanic.py
  esrally/mechanic/provisioner.py
  tests/mechanic/provisioner_test.py
Labels: :Benchmark Candidate Management, bug

#805 Add lint + precommit make targets.
  .pylintrc
  Makefile
  setup.py
Labels: :Internal, enhancement
