Repository elastic/rally, pull requests merged in 2019-02, with the labels that each got.

#639 Add recovery-stats telemetry device
  docs/telemetry.rst
  esrally/mechanic/launcher.py
  esrally/mechanic/telemetry.py
  esrally/utils/opts.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#640 docs: Clarify that path should start with / for raw-request
  docs/track.rst
Labels: :Docs, enhancement

#641 Temporarily disable Python 3.4 in build
  Makefile
  tox.ini
Labels: :Internal, enhancement

#642 Allow passing any request parameter to the create index API
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Internal, enhancement

#644 Allow collection of jvm gc section in node-stats telemetry device
  docs/telemetry.rst
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Telemetry, enhancement

#646 Add node_name in node-stats docs for ...
  esrally/mechanic/telemetry.py
  tests/mechanic/telemetry_test.py
Labels: :Metrics, enhancement

#647 Make types optional
  docs/adding_tracks.rst
  docs/track.rst
  esrally/driver/runner.py
  esrally/track/loader.py
  esrally/track/params.py
  tests/driver/runner_test.py
  tests/track/loader_test.py
  tests/track/params_test.py
Labels: :Load Driver, :Track Management, enhancement

#650 Use --prune for all git fetch operations
  esrally/utils/git.py
  tests/utils/git_test.py
Labels: :Internal, enhancement

#651 fix typo in custom_scheduler example
  docs/adding_tracks.rst
Labels: :Docs

#652 Properly authenticate at proxy server
  esrally/utils/net.py
  integration-test.sh
Labels: :Config, bug

#654 Allow to use ES 7.x as metrics store
  esrally/metrics.py
  tests/mechanic/telemetry_test.py
  tests/metrics_test.py
Labels: :Metrics, enhancement

#655 Add compatibility layer for existing metrics store
  esrally/metrics.py
Labels: :Metrics, bug

#649 Pass request-params as is in supported operations
  docs/migrate.rst
  docs/track.rst
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Track Management, WiP, breaking, enhancement
