Repository elastic/rally, pull requests merged in 2019-05, with the labels that each got.

#688 Fail Rally early if there are unused variables in track-params
  esrally/exceptions.py
  esrally/rally.py
  esrally/track/loader.py
  esrally/utils/io.py
  esrally/utils/opts.py
  integration-test.sh
  tests/track/loader_test.py
  tests/track/resources/track_fragment_1.json
  tests/track/resources/track_fragment_2.json
  tests/utils/opts_test.py
Labels: :Track Management, enhancement, highlight

#696 Remove CPU sampling
  docs/metrics.rst
  docs/migrate.rst
  docs/summary_report.rst
  esrally/mechanic/launcher.py
  esrally/mechanic/telemetry.py
  esrally/reporter.py
  esrally/utils/sysstats.py
Labels: :Internal, :Reporting, :Telemetry, breaking

#695 Remove perf telemetry device
  docs/telemetry.rst
  esrally/mechanic/launcher.py
  esrally/mechanic/telemetry.py
Labels: :Internal, :Telemetry, breaking

#691 Remove node_count_per_host
  docs/car.rst
  esrally/mechanic/provisioner.py
  tests/mechanic/provisioner_test.py
Labels: :Internal, enhancement

#694 Measure execution time of bulk ingest pipeline
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#693 Assume UTC timezone if not specified
  esrally/time.py
Labels: :Track Management, bug

#698 Enter degraded mode on bootstrap failure
  esrally/actor.py
  esrally/rally.py
Labels: :Internal, bug
