Repository elastic/rally, pull requests merged in 2020-05, with the labels that each got.

#979 Remove trial-id and trial-timestamp
  docs/migrate.rst
  esrally/metrics.py
  esrally/resources/metrics-template.json
  esrally/resources/races-template.json
  esrally/resources/results-template.json
  tests/metrics_test.py
Labels: :Metrics, breaking, cleanup

#983 Assign worker-id globally
  esrally/driver/driver.py
Labels: :Load Driver, bug

#980 Change next Rally version in migration docs
  docs/migrate.rst
Labels: :Docs, enhancement

#978 Remove os environment variables from env prep
  docs/migrate.rst
  esrally/mechanic/launcher.py
  tests/mechanic/launcher_test.py
Labels: :Internal, bug

#988 Add experimental segment stats telemetry device
  esrally/driver/async_driver.py
  esrally/driver/driver.py
  esrally/paths.py
  esrally/telemetry.py
  tests/driver/async_driver_test.py
  tests/driver/driver_test.py
  tests/telemetry_test.py
Labels: :Telemetry, enhancement

#986 Allow to override GC log parameters
  docs/telemetry.rst
  esrally/mechanic/launcher.py
  esrally/telemetry.py
  tests/telemetry_test.py
Labels: :Telemetry, enhancement

#984 Add developer info about intellij
  CONTRIBUTING.md
Labels: :Docs, enhancement

#992 Cache source artifacts
  docs/pipelines.rst
  esrally/mechanic/supplier.py
  tests/mechanic/supplier_test.py
Labels: :Benchmark Candidate Management, enhancement

#993 Update the release process
  RELEASE.md
Labels: :Docs, cleanup

#995 Don't use range for http and transport port
  docs/configuration.rst
  esrally/mechanic/provisioner.py
  tests/mechanic/provisioner_test.py
Labels: :Config, cleanup

#994 Report number of GCs
  docs/metrics.rst
  docs/quickstart.rst
  docs/race.rst
  docs/summary_report.rst
  docs/tournament.rst
  esrally/metrics.py
  esrally/reporter.py
  esrally/telemetry.py
  tests/driver/async_driver_test.py
  tests/metrics_test.py
  tests/telemetry_test.py
Labels: :Reporting, :Telemetry, enhancement

#996 Ensure artifact cache directory exists
  esrally/mechanic/supplier.py
  tests/mechanic/supplier_test.py
Labels: :Benchmark Candidate Management, bug

#997 Allow to abort on fatal errors
  docs/command_line_reference.rst
  esrally/driver/async_driver.py
  esrally/driver/driver.py
  esrally/rally.py
  tests/driver/driver_test.py
Labels: :Load Driver, enhancement

#998 Cache source artifacts by default
  docs/command_line_reference.rst
  docs/migrate.rst
  docs/pipelines.rst
  esrally/mechanic/supplier.py
  esrally/mechanic/team.py
  esrally/racecontrol.py
  tests/mechanic/data/plugins/v1/core-plugins.txt
  tests/mechanic/data/plugins/v1/my_core_plugin_with_config/.gitkeep
  tests/mechanic/supplier_test.py
  tests/mechanic/team_test.py
  tests/racecontrol_test.py
Labels: :Benchmark Candidate Management, enhancement

#987 Validate if car allows for using the bundled JDK
  esrally/mechanic/java_resolver.py
  esrally/mechanic/launcher.py
  esrally/mechanic/provisioner.py
  tests/mechanic/java_resolver_test.py
  tests/mechanic/launcher_test.py
  tests/mechanic/provisioner_test.py
Labels: :Internal, bug

#999 Invoke pytest consistently
  Makefile
  setup.py
  tox.ini
Labels: :Internal, enhancement
