Repository elastic/rally, pull requests merged in 2020-12, with the labels that each got.

#1127 Avoid too many public methods
  .pylintrc
  esrally/driver/driver.py
  esrally/metrics.py
  esrally/reporter.py
  esrally/telemetry.py
  tests/driver/driver_test.py
  tests/metrics_test.py
  tests/telemetry_test.py
  tests/track/loader_test.py
  tests/track/params_test.py
Labels: :Internal, cleanup

#1125 Wait until cluster health is green
  docs/adding_tracks.rst
  docs/track.rst
  esrally/resources/track.json.j2
Labels: :Track Management, bug

#1129 Support async search API
  docs/track.rst
  esrally/driver/runner.py
  esrally/track/track.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#1131 Use top-level imports
  .pylintrc
  esrally/actor.py
  esrally/client.py
  esrally/config.py
  esrally/driver/driver.py
  esrally/driver/runner.py
  esrally/exceptions.py
  esrally/mechanic/mechanic.py
  esrally/mechanic/provisioner.py
  esrally/mechanic/supplier.py
  esrally/metrics.py
  esrally/rally.py
  esrally/telemetry.py
  esrally/track/loader.py
  esrally/tracker/corpus.py
  esrally/utils/net.py
  esrally/utils/opts.py
  it/__init__.py
  tests/client_test.py
  tests/config_test.py
  tests/mechanic/launcher_test.py
  tests/metrics_test.py
  tests/track/loader_test.py
  tests/track/params_test.py
  tests/utils/process_test.py
Labels: :Internal, cleanup

#1132 Allow for filtering of administrative tasks
  docs/command_line_reference.rst
  docs/migrate.rst
  esrally/track/loader.py
  esrally/track/track.py
  tests/track/loader_test.py
  tests/track/track_test.py
Labels: :Track Management, bug

#1133 Clarify latency-vs-service-time FAQ
  docs/faq.rst
Labels: :Docs, enhancement

#1136 Support non default repositories in chart generator
  esrally/chart_generator.py
Labels: :Usability, enhancement

#1135 Allow to customize track preparation
  esrally/driver/driver.py
  esrally/track/loader.py
  esrally/track/track.py
  esrally/utils/collections.py
  tests/track/loader_test.py
  tests/utils/collections_test.py
Labels: :Track Management, enhancement

#1137 Add a configuration file reference
  docs/configuration.rst
  esrally/driver/driver.py
Labels: :Docs, enhancement

#1138 Remove experimental query param substitution
  benchmarks/track/params_test.py
  benchmarks/track/terms.txt
  esrally/track/params.py
  tests/track/params_test.py
Labels: :Load Driver, cleanup

#1140 Improve responsiveness of track preparation
  esrally/driver/driver.py
Labels: :Track Management, enhancement
