Repository elastic/rally, pull requests merged in 2020-06, with the labels that each got.

#1001 Allow to downsample request metrics
  esrally/driver/driver.py
  tests/driver/driver_test.py
Labels: :Metrics, enhancement

#1002 Remove experimental race-async subcommand
  esrally/driver/__init__.py
  esrally/driver/async_driver.py
  esrally/racecontrol.py
  esrally/rally.py
  integration-test.sh
  tests/driver/async_driver_test.py
Labels: :Load Driver, cleanup

#1003 Add network troubleshooting tips
  docs/rally_daemon.rst
Labels: :Docs, enhancement

#1007 Wait until indices are green in generated track
  esrally/resources/track.json.j2
Labels: :Usability, bug

#1008 Allow to specify a runtime-jdk during installation
  esrally/rally.py
Labels: :Benchmark Candidate Management, bug

#1006 Add info about querying challenges in the docs
  docs/track.rst
Labels: :Docs

#1010 Avoid redefining arguments
  .pylintrc
  esrally/driver/driver.py
Labels: :Internal, cleanup

#1009 Remove outdated config migrations
  esrally/config.py
  tests/config_test.py
Labels: :Config, cleanup

#1012 Make exists_set_param macro available to tracks
  docs/adding_tracks.rst
  esrally/track/loader.py
Labels: :Track Management, enhancement

#1015 Scale connection pool automatically
  docs/command_line_reference.rst
  esrally/async_connection.py
  esrally/driver/driver.py
  esrally/utils/opts.py
  tests/utils/opts_test.py
Labels: :Load Driver, enhancement

#1016 Allow to forcefully close SSL connections
  docs/command_line_reference.rst
  esrally/async_connection.py
  esrally/client.py
Labels: :Load Driver, enhancement

#1013 Allow to measure create/restore snapshot speed
  docs/migrate.rst
  docs/track.rst
  esrally/driver/driver.py
  esrally/driver/runner.py
  esrally/track/track.py
  tests/driver/driver_test.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#1018 Check for recovery details when finished
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, bug

#1019 Add timestamps as meta-info in index recovery
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#1021 Fix lint C0121 and W0311 issues
  .pylintrc
  esrally/client.py
  esrally/driver/runner.py
  esrally/rally.py
  esrally/utils/opts.py
  tests/track/params_test.py
Labels: :Internal, cleanup
