Repository elastic/rally, pull requests merged in 2020-11, with the labels that each got.

#1100 Improve throughput throttling for bulks
  docs/adding_tracks.rst
  docs/migrate.rst
  esrally/driver/driver.py
  esrally/driver/runner.py
  esrally/driver/scheduler.py
  esrally/resources/track-schema.json
  esrally/track/params.py
  esrally/track/track.py
  tests/driver/driver_test.py
  tests/driver/runner_test.py
  tests/driver/scheduler_test.py
  tests/track/params_test.py
  tests/track/track_test.py
Labels: :Load Driver, enhancement, highlight

#1099 Composable + Component template support
  docs/track.rst
  esrally/driver/runner.py
  esrally/resources/track-schema.json
  esrally/track/loader.py
  esrally/track/params.py
  esrally/track/track.py
  tests/driver/runner_test.py
  tests/track/loader_test.py
  tests/track/params_test.py
Labels: :Track Management, enhancement

#1103 Accept some differing units for throttling
  esrally/driver/scheduler.py
  esrally/track/loader.py
  tests/driver/scheduler_test.py
Labels: :Load Driver, bug

#1102 Clarify task execution order in docs with respect to --include-tasks
  docs/command_line_reference.rst
Labels: :Docs, enhancement

#1106 Make template merging Python 3.9 compatible
  esrally/track/params.py
Labels: :Internal, cleanup

#1105 Drop support for Elasticsearch 2.x
  docs/adding_tracks.rst
  docs/car.rst
  docs/command_line_reference.rst
  docs/elasticsearch_plugins.rst
  docs/pipelines.rst
  docs/track.rst
  docs/versions.rst
  esrally/driver/runner.py
  esrally/mechanic/launcher.py
  esrally/mechanic/provisioner.py
  esrally/mechanic/team.py
  it/__init__.py
  tests/driver/runner_test.py
  tests/mechanic/data/cars/v1/32gheap.ini
  tests/mechanic/data/cars/v1/ea.ini
  tests/mechanic/data/cars/v1/verbose.ini
  tests/mechanic/launcher_test.py
  tests/mechanic/provisioner_test.py
  tests/mechanic/team_test.py
Labels: :Benchmark Candidate Management, :Load Driver, breaking, cleanup

#1096 Add CI for Python 3.9.0
  .ci/variables.json
  Makefile
  setup.py
  tox.ini
Labels: :Packaging, enhancement

#1080 Avoid reimporting modules
  .pylintrc
  esrally/chart_generator.py
  tests/driver/driver_test.py
  tests/driver/runner_test.py
  tests/track/loader_test.py
Labels: cleanup

#1109 Throttle tasks based on presence of a scheduler
  esrally/driver/scheduler.py
  esrally/track/loader.py
  esrally/track/track.py
  tests/driver/scheduler_test.py
  tests/track/track_test.py
Labels: :Load Driver, enhancement

#1108 Add support for FOSSA
  .ci/build.sh
  .fossa.yml
  Makefile
Labels: :Internal, enhancement

#1083 Avoid using protected members outside scope
  .pylintrc
  esrally/config.py
  tests/driver/scheduler_test.py
  tests/mechanic/launcher_test.py
  tests/mechanic/provisioner_test.py
  tests/mechanic/supplier_test.py
  tests/metrics_test.py
  tests/track/params_test.py
  tests/utils/io_test.py
  tests/utils/net_test.py
Labels: cleanup

#1111 Allow trailing / in base-url
  esrally/track/loader.py
  esrally/utils/net.py
  tests/track/loader_test.py
Labels: :Track Management, bug

#1112 Execute complex request hierarchies
  docs/nested-streams.png
  docs/nested-streams.puml
  docs/track.rst
  esrally/chart_generator.py
  esrally/driver/runner.py
  esrally/track/loader.py
  esrally/track/params.py
  esrally/track/track.py
  tests/driver/driver_test.py
  tests/driver/runner_test.py
  tests/track/loader_test.py
  tests/track/track_test.py
Labels: :Load Driver, enhancement, highlight

#1115 Error wrapper script on unclean local state
  run.sh
Labels: :Usability, enhancement

#1113 Avoid assignment from None
  .pylintrc
  esrally/driver/driver.py
Labels: :Internal, cleanup

#1116 Ensure admin tasks are always executed
  esrally/track/loader.py
  tests/track/loader_test.py
  tests/track/track_test.py
Labels: :Track Management, bug

#1117 Don't change scheduler on failed requests
  esrally/driver/scheduler.py
  tests/driver/scheduler_test.py
Labels: :Load Driver, bug

#1118 Allow index pattern for source-index in shrink-index operation
  docs/track.rst
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Track Management, enhancement

#1119 Support trailing slashes for all URL schemes
  esrally/track/loader.py
  tests/track/loader_test.py
Labels: :Track Management, bug

#1122 Remove implicit request timeout from force merge operation in polling
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Track Management, bug

#1121 Ensure that sleep tasks are timed
  esrally/client.py
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, bug

#1124 Treat some zero target-intervals as unthrottled
  esrally/driver/scheduler.py
  esrally/track/loader.py
  esrally/track/track.py
  tests/driver/scheduler_test.py
  tests/track/track_test.py
Labels: :Load Driver, bug

#1126 Respect specified order in composite task
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, bug
