Repository elastic/rally, pull requests merged in 2021-04, with the labels that each got.

#1229 remove invalid monitoring_type from example execution
  docs/command_line_reference.rst
  docs/elasticsearch_plugins.rst
Labels: :Docs

#1230 Update community resources videos
  docs/community.rst
Labels: :Docs, cleanup

#1233 Document proper usage of the Docker image
  docs/docker.rst
Labels: :Docs, bug

#1235 Allow to selectively ignore response errors
  docs/command_line_reference.rst
  docs/migrate.rst
  docs/track.rst
  esrally/driver/driver.py
  esrally/rally.py
  esrally/resources/track-schema.json
  esrally/track/track.py
  tests/driver/driver_test.py
  tests/track/track_test.py
Labels: :Track Management, enhancement

#1234 Allow to specify static responses
  docs/command_line_reference.rst
  esrally/async_connection.py
  esrally/driver/driver.py
  esrally/rally.py
  esrally/utils/opts.py
  tests/driver/driver_test.py
  tests/test_async_connection.py
Labels: :Load Driver, enhancement

#1231 Drop relative-time metric
  docs/metrics.rst
  docs/migrate.rst
  docs/recipes.rst
  esrally/metrics.py
  esrally/resources/metrics-template.json
  tests/metrics_test.py
Labels: :Metrics, breaking, enhancement

#1227 Update release scripts
  changelog.py
  release-checks.sh
Labels: :internal, enhancement

#1239 make --track mandatory
  docs/command_line_reference.rst
  docs/migrate.rst
  esrally/rally.py
Labels: breaking, cleanup

#1237 Drop support for Elasticsearch 5.x
  README.rst
  docs/command_line_reference.rst
  docs/elasticsearch_plugins.rst
  docs/metrics.rst
  docs/pipelines.rst
  docs/recipes.rst
  docs/track.rst
  docs/versions.rst
  esrally/driver/runner.py
  esrally/mechanic/supplier.py
  esrally/resources/track-schema.json
  it/__init__.py
Labels: :Benchmark Candidate Management, :Load Driver, :Track Management, breaking, cleanup

#1238 Disallow to specify cluster settings in the track
  docs/migrate.rst
  esrally/mechanic/mechanic.py
  esrally/mechanic/provisioner.py
  esrally/racecontrol.py
  esrally/track/loader.py
  esrally/track/track.py
  tests/mechanic/provisioner_test.py
Labels: :Benchmark Candidate Management, :Track Management, breaking, enhancement

#1241 fix JAVA_HOME determination for ES 8.x
  esrally/mechanic/launcher.py
Labels: :misc

#1220 Store duration time of task in rally-results metrics record
  esrally/metrics.py
  tests/metrics_test.py
Labels: :Metrics, enhancement

#1244 Avoid ephemeral ports in integration tests
  it/distribution_test.py
  it/sources_test.py
  it/tracker_test.py
Labels: :misc, enhancement

#1245 Strictly check for supported version
  MANIFEST.in
  docs/conf.py
  docs/versions.rst
  esrally/min-es-version.txt
  esrally/racecontrol.py
  esrally/rally.py
  esrally/utils/versions.py
  esrally/version.py
  it/distribution_test.py
  it/download_test.py
  tests/utils/versions_test.py
Labels: :Usability, enhancement

#1247 Update telemetry device docs
  docs/telemetry.rst
Labels: :Docs, enhancement

#1250 Add note about ES version support
  docs/migrate.rst
Labels: :Docs, enhancement

#1236 add support for numbers alignment in table output (#1202)
  docs/command_line_reference.rst
  esrally/rally.py
  esrally/reporter.py
  tests/reporter_test.py
Labels: :Reporting, enhancement

#1228 Natively support parallelized track preparation
  esrally/driver/driver.py
  esrally/track/__init__.py
  esrally/track/loader.py
  esrally/utils/modules.py
  tests/track/loader_test.py
Labels: :Track Management, :internal, enhancement

#1243 Ensure destructive actions work regardless of wildcard input
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: :Load Driver, enhancement

#1252 Make S3 support optional
  docs/install.rst
  docs/track.rst
  esrally/utils/net.py
  setup.py
  tests/utils/net_test.py
Labels: :Packaging, :Usability, enhancement

#1253 inject cfg to DefaultTrackPreparator
  esrally/track/loader.py
  tests/track/loader_test.py
Labels: :internal, bug

#1254 assert developers have block storage dependencies installed
  tests/utils/net_test.py
Labels: enhancement
