Repository elastic/rally, pull requests merged in 2021-08, with the labels that each got.

#1308 always set default client timeout to 60
  docs/adding_tracks.rst
  docs/command_line_reference.rst
  docs/recipes.rst
  esrally/rally.py
  esrally/utils/opts.py
  tests/utils/opts_test.py
Labels: enhancement

#1305 Allow parallel tasks to exit on any completion
  docs/track.rst
  esrally/driver/driver.py
  esrally/track/loader.py
  esrally/track/track.py
  tests/driver/driver_test.py
  tests/track/loader_test.py
Labels: enhancement, :Load Driver

#1310 Configure persistent datastore index settings
  docs/configuration.rst
  docs/migrate.rst
  esrally/metrics.py
  tests/metrics_test.py
Labels: enhancement, :Metrics

#1313 Use bridge network in container mode
  esrally/mechanic/provisioner.py
  esrally/resources/docker-compose.yml.j2
  tests/mechanic/provisioner_test.py
Labels: enhancement, :Benchmark Candidate Management

#1312 Update rally-* index template settings to default to Elasticsearch defaults
  docs/configuration.rst
  esrally/metrics.py
  esrally/resources/metrics-template.json
  esrally/resources/races-template.json
  esrally/resources/results-template.json
  tests/metrics_test.py
Labels: enhancement, :Metrics

#1315 Fix load track behavior on multiple load driver machines
  esrally/driver/driver.py
  esrally/track/loader.py
  esrally/utils/repo.py
  tests/driver/driver_test.py
Labels: bug, :Load Driver
