Repository elastic/rally, pull requests merged in 2021-09, with the labels that each got.

#1318 Fix num of docs in -1k generated corpus
  esrally/tracker/corpus.py
  it/tracker_test.py
Labels: bug, :Usability

#1319 Add support for listing nested tracks
  esrally/track/loader.py
  tests/track/loader_test.py
Labels: enhancement, :Track Management

#1302 Upgrade Python client to 7.14.0
  esrally/client.py
  it/tracker_test.py
  setup.py
Labels: enhancement, :misc

#1321 remove coverage dependency
  Makefile
  setup.py
Labels: bug

#1325 Document how to use stat on GNU/Linux too
  docs/adding_tracks.rst
Labels: :Docs, cleanup

#1326 Improve documentation in various ways
  docs/adding_tracks.rst
  docs/docker.rst
  docs/faq.rst
  docs/install.rst
  docs/race.rst
  docs/telemetry.rst
  docs/tournament.rst
  it/installation_test.py
  release-docker.sh
Labels: :Docs, cleanup

#1331 Remove noisy python-caches-clean output
  Makefile
Labels: cleanup

#1327 Allow more copy/pasting in cluster management docs
  docs/cluster_management.rst
Labels: :Docs, cleanup

#1336 Check benchmark stop at least every second in SamplerThread
  esrally/telemetry.py
  tests/telemetry_test.py
Labels: enhancement, :Telemetry

#1337 Clarify definition of processing time
  docs/configuration.rst
  docs/metrics.rst
  docs/summary_report.rst
Labels: enhancement, :Docs

#1343 Re-introduce fix for listing nested tracks
  esrally/track/loader.py
  tests/track/loader_test.py
Labels: enhancement, :Track Management

#1333 Add percentage diff column to compare subcommand
  esrally/reporter.py
  tests/reporter_test.py
Labels: enhancement, :Usability, :Reporting

#1330 Add master node telemetry device
  docs/telemetry.rst
  esrally/driver/driver.py
  esrally/telemetry.py
  tests/driver/driver_test.py
  tests/telemetry_test.py
Labels: enhancement, :Telemetry

#1345 Update Rally docker base image to Debian 11 and Python 3.8.12
  docker/Dockerfiles/Dockerfile-dev
  docker/Dockerfiles/Dockerfile-release
  docs/docker.rst
Labels: enhancement, :Packaging

#1340 expose more diagnostic info in console when an actor throws an exception
  esrally/actor.py
  esrally/track/loader.py
Labels: :Usability
