Repository elastic/rally, pull requests merged in 2022-01, with the labels that each got.

#1406 Revert "Use explicit config files for black and isort"
  .isort.cfg
  Makefile
  pyproject.toml
  run.sh
Labels: :Packaging, :internal

#1407 Minor docs fix: remove leading "
  docs/configuration.rst
Labels: :Docs

#1413 Fix bulk index detailed stats and log failures
  docs/track.rst
  esrally/driver/runner.py
  tests/driver/runner_test.py
Labels: enhancement, :Usability, :Docs, :Load Driver, cleanup

#1418 Derive correct artifact name for ARM architecture
  esrally/mechanic/supplier.py
  tests/mechanic/supplier_test.py
Labels: bug, :Benchmark Candidate Management

#1416 Add Ingest Pipeline Telemetry device
  docs/telemetry.rst
  esrally/driver/driver.py
  esrally/metrics.py
  esrally/reporter.py
  esrally/telemetry.py
  tests/telemetry_test.py
Labels: enhancement, :Metrics, :Usability, :Telemetry, highlight

#1403 Document exporting certificates from PKCS#12 keystores
  docs/command_line_reference.rst
Labels: :Docs

#1422 Rename 'indices stats API' to 'index stats API'
  docs/metrics.rst
  docs/summary_report.rst
  docs/telemetry.rst
  docs/track.rst
  esrally/telemetry.py
Labels: :Docs
