Repository elastic/rally, pull requests merged in 2024-01, with the labels that each got.

#1816 Add FS metrics to node-stats telemetry device
  docs/telemetry.rst
  esrally/telemetry.py
  tests/telemetry_test.py
Labels: enhancement, :Usability, :Telemetry

#1823 Measure time until last response chunk
  esrally/client/asynchronous.py
  esrally/client/factory.py
Labels: bug, :Load Driver

#1824 Fix telemetry docs
  docs/telemetry.rst
Labels: :Docs

#1825 Make Jit telelmetry compatible with JDK 9+
  esrally/mechanic/launcher.py
  esrally/telemetry.py
Labels: bug
